# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"

BROWSER_EXECUTABLE_PATH="/Applications/Brave Browser.app/Contents/MacOS/Brave Browser"
# BROWSER_REMOTE_DEBUG_URL="http://localhost:9222"

PORTAL_BSRE_USERNAME=your_username
PORTAL_BSRE_PASSWORD=your_password
PORTAL_OTP_AUTH="//totp/BeID:username?secret=YOUR_BASE32_SECRET&issuer=BeID"

# Get your API key at https://g4f.dev
G4F_API_KEY=your_g4f_api_key
